<div id="sylius-coupon" {{ sylius_test_html_attribute('cart-promotion-coupon') }}>
    <div class="cart_summary--coupon">
        {{ form_widget(form.promotionCoupon, sylius_test_form_attribute('cart-promotion-coupon-input')|sylius_merge_recursive({'attr': {'form': main_form, 'placeholder': 'sylius.ui.enter_your_code'|trans~'...'}})) }}
        <button type="submit" id="sylius-save" {{ sylius_test_html_attribute('apply-coupon-button') }} class="btn-primary cart_summary--coupon--btn" form="{{ main_form }}"><i class="ticket icon"></i> {{ 'sylius.ui.apply_coupon'|trans }}</button>
    </div>
    <br>
    {{ form_errors(form.promotionCoupon) }}
</div>
