{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="product-box-suggest" {{ sylius_test_html_attribute('product') }}>
    <a class="product-box-suggest--link" href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}">
        <div class="product-box-suggest--loader">
            <div class="loader"></div>
        </div>
        {% include '@SyliusShop/Product/_mainImageSuggest.html.twig' with {'product': product} %}
    </a>
    <div class="product-box-suggest--content" {{ sylius_test_html_attribute('product-content') }}>
        <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}" class="product-box-suggest--content--name" {{ sylius_test_html_attribute('product-name', product.name) }}>{{ product.name }}</a>
        <div class="product-box-suggest--content--other-info">
            {% if not product.enabledVariants.empty() %}
                <div class="product-box-suggest--content--other-info--price" {{ sylius_test_html_attribute('product-price') }}>{{ money.calculatePrice(product|sylius_resolve_variant) }}</div>
            {% endif %}
            <span class="btn-secondary product-box-suggest--content--other-info--button btn-addCart" productId={{product.id}} token="{{ csrf_token('form') }}">Ajouter au panier</span>
        </div>
    </div>
</div>