{% extends '@SyliusShop/Email/layout.html.twig' %}

{% block subject %}
    {{ 'sylius.email.verification_token.subject'|trans({}, null, localeCode) }}
{% endblock %}

{% block content %}
    {% set url = channel.hostname is not null ? 'http://' ~ channel.hostname ~ path('sylius_shop_user_verification', { 'token': user.emailVerificationToken}) : url('sylius_shop_user_verification', { 'token': user.emailVerificationToken}) %}

    <tr>
        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
            <div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:20px;line-height:1;text-align:left;color:#000000;">{{ 'sylius.email.verification_token.hello'|trans({}, null, localeCode) }} <span style="font-weight:bold">{{ user.username }}</span></div>
        </td>
    </tr>
    <tr>
        <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
            <div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:15px;line-height:1;text-align:left;color:#000000;">{{ 'sylius.email.verification_token.to_verify_your_email_address'|trans({}, null, localeCode) }}</div>
        </td>
    </tr>
    <tr>
    <td align="center" vertical-align="middle" style="font-size:0px;padding:10px 25px;word-break:break-word;">
        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
            <tr>
                <td align="center" bgcolor="#414141" role="presentation" style="border:none;border-radius:3px;cursor:auto;mso-padding-alt:10px 25px;background:#414141;" valign="middle">
                <a href="{{ url|raw }}">
                    <p style="display:inline-block;background:#414141;color:#ffffff;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:25px;font-weight:normal;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:10px 25px;mso-padding-alt:0px;border-radius:3px;"> 
                        {{ 'sylius.email.verification_token.verify_your_email_address'|trans({}, null, localeCode) }} 
                    </p>
                </a>
                </td>
            </tr>
        </table>
    </td>
    </tr>
{% endblock %}
